@import "@/libs/theme.scss";

.root {
  --x: "";
  margin-bottom: spacing(4);
}

.content {
  --x: "";

  img {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 5%;
    padding-right: 5%;
    display: block;
  }
}
