{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "standard",
    "prettier" // Prettier should be placed last.
  ],
  "rules": {
    "@typescript-eslint/rule-name": "error"
  }
}
