@import "@/libs/theme.scss";

body {
  padding: 0;
  margin: 0;

  font-family: "Noto Sans KR", NotoSans, "Apple SD Gothic Neo", sans-serif;
  font-size: $font-size-body-1;
  color: $color-text-1;
}

hr {
  border-color: $color-border-1;
  border-style: solid;
}

.markdown-body pre code.hljs {
  padding: 0;
}
