@import "@/libs/theme.scss";

.root {
  --x: "";
  margin-bottom: spacing(4);
}

.title {
  --x: "";
  font-weight: 400;
  margin: 0;
}

.metaContainer {
  --x: "";
  display: flex;
}

.meta {
  color: $color-text-2;
  font-size: $font-size-body-2;
  line-height: $font-size-body-2;
  &:not(:last-child) {
    margin-right: spacing(2);
  }
}

.icon {
  --x: "";
  margin-right: spacing(1);
}

.date {
  --x: "";
}

.separator {
  display: inline-block;
  width: 1px;
  height: calc(0.875rem / 3 * 2);
  background-color: #999;
  align-self: center;
}

.category {
  --x: "";
}

.bottomLine {
  --x: "";
  border-color: $color-border-1;
}
