.root {
  --x: "";
  margin-bottom: 32px;
}

.title {
  --x: "";
  font-weight: 400;
  margin: 0;
}

.metaContainer {
  --x: "";
  display: flex;
}

.meta {
  color: #999;
  font-size: 0.875rem;
  line-height: 0.875rem;
  &:not(:last-child) {
    margin-right: 16px;
  }
}

.icon {
  --x: "";
  margin-right: 8px;
}

.date {
  --x: "";
}

.separator {
  display: inline-block;
  width: 1px;
  height: calc(0.875rem / 3 * 2);
  background-color: #999;
  align-self: center;
}

.category {
  --x: "";
}

.bottomLine {
  --x: "";
  border-color: #e1e4e8;
}
